#container{
    height: auto;
    width: 75vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    /* flex-direction: column;
    flex-direction: column-reverse; */
    flex-wrap: wrap;
    
}
#div1{
    background-color: blue;
    height: 40vh;
    width: 20vh;
}
#div2{
    background-color: red;
    height: 40vh;
    width: 20vh;
}
#div3{
    background-color: cyan;
    height: 40vh;
    width: 20vh;
}
#div4{
    background-color: rgb(170, 118, 118);
    height: 40vh;
    width: 20vh;
}